In [71]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from imblearn.combine import SMOTEENN
import pickle

In [56]:
#reading the csv file

df= pd.read_csv('./processed_data.csv')
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [57]:
df =df.drop(columns= ['Unnamed: 0'])
df

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,0,1,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,0,1,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,1,0,1,0,1,1,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1

As we discussed in EDA that the dataset is imbalanced so we need to make the dataset balanced before proceeding forward

In [58]:
#Now we have properly processed numerical data present with us
x= df.drop(columns= ['Churn']) #input
y= df['Churn'] #output
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [59]:

#BALANCING THE DATASET- unbalanced dataset will give low accuracy scores
sm= SMOTEENN()
x_resampled, y_resampled= sm.fit_resample(x, y)
x_resampled

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,42.300000,1840.750000,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
1,0,56.150000,3487.950000,0,1,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,0,105.500000,2686.050000,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
3,0,106.700000,7382.250000,0,1,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
4,0,90.050000,1862.900000,1,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5890,0,69.841069,69.841069,1,0,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
5891,0,55.316402,55.316402,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
5892,0,47.584307,90.466187,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
5893,0,106.757680,7690.506696,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
5894,0,33.847296,138.343239,1,0,1,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0

In [60]:
#split into training and testing data 

xr_train,xr_test,yr_train,yr_test = train_test_split(x_resampled,y_resampled, test_size=0.2, random_state=5)

### DECISION TREE CLASSIFIER

In [61]:
model_dt= DecisionTreeClassifier(criterion='gini', random_state=100, max_depth=6 , min_samples_leaf=8)

In [62]:
model_dt.fit(xr_train, yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [63]:
y_pred= model_dt.predict(xr_test)
y_pred

array([1, 1, 0, ..., 1, 1, 0], dtype=int64)

In [64]:
print(confusion_matrix(yr_test, y_pred))

[[477  40]
 [ 26 636]]

In [65]:
print(classification_report(yr_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.95      0.92      0.94       517
           1       0.94      0.96      0.95       662

    accuracy                           0.94      1179
   macro avg       0.94      0.94      0.94      1179
weighted avg       0.94      0.94      0.94      1179

ACCURACY for decision tree classifier = (489+ 606)  / (489+ 606+ 37 + 33) = 1095 / 1165 = 0.9399 -> 94% (approx.)

### RANDOM FOREST CLASSIFIER

In [66]:
model_rf= RandomForestClassifier(n_estimators=100, criterion='gini', random_state=100, max_depth=6 , min_samples_leaf=8)

In [67]:
model_rf.fit(xr_train, yr_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [68]:
y_pred= model_rf.predict(xr_test)

In [69]:
print(confusion_matrix(yr_test, y_pred))

[[459  58]
 [ 26 636]]

In [70]:
print(classification_report(yr_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.95      0.89      0.92       517
           1       0.92      0.96      0.94       662

    accuracy                           0.93      1179
   macro avg       0.93      0.92      0.93      1179
weighted avg       0.93      0.93      0.93      1179

ACCURACY for Random Forest Classifier = (459 + 636) / (459 + 636 + 58 + 2) = 1095 / 1155 = 0.948 -> 94.8%

In [72]:
filename= 'rf_model.sav'
pickle.dump(model_rf , open(filename, 'wb'))

In [73]:
load_model= pickle.load(open(filename, 'rb'))

In [75]:
load_model.score(xr_test, yr_test)

0.9287531806615776